@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --pry-cyan: hsl(179,62%,43%);
    --pry-bright-yellow: hsl(71,73%,54%);
    --neutral-light-gray: hsl(204,43%,93%);
    --neutral-grayish-blue: hsl(218,22%,67%);
    font-size: 16px;
    /* font-family: 'karla' sans-serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-light-gray);
    display: flex;
    margin: 0 auto; 
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    width: 650px;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    
}

main {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 19%) 0px 15px 20px;
}

header {
    background-color: white;
    width: 100%;
    padding: 30px 50px 35px 25px;
}

header h1 {
    color: var(--pry-cyan);
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
}

header h2 {
    color: var(--pry-bright-yellow);
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
}

header p {
    color: var(--neutral-grayish-blue);
    font-weight: 400;
    line-height: 1.6rem;
}

ul {
    list-style: none;
}

.wrap {
    display: flex;
}

.sub {
    background-color: var(--pry-cyan);
    width: 50%;
    color: white;
    padding: 40px 25px 25px 30px;
    border-radius: 0 0 0 10px;
}

.sub h2 {
    font-size: 18px;
    padding: 0 0 23px 0;
}
.sub p {
    padding-bottom: 10px;
}

.sub span {
    font-size: 1.8rem;
    padding-right: 10px;
}

.sub a {
    background-color: var(--pry-bright-yellow);
    display: block;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    margin: 30px 0 1rem;
    box-shadow: rgb(0 0 0 / 19%) 0px 15px 20px;
}

a:hover {
    background-color: hsla(61, 76%, 42%, 0.89);
    transition: all 0.2s ease-in-out;
}

.why {
    background-color: hsla(179,62%,43%,0.8);
    width: 50%;
    border-radius: 0 0 10px 0;
    color: white;
    padding: 40px 25px 35px 30px;
    

}

.why h2 {
    padding: 0 0 0.5rem 0;
}

.why li {
    line-height: 23px;
    color: var(--neutral-light-gray);
}

.attribution {
    margin: 1rem 1rem;
  }
